IF NOT EXISTS(SELECT * FROM sys.databases WHERE name = 'TekusProvidersDb')
BEGIN
    CREATE DATABASE TekusProvidersDb;
END
GO

USE [TekusProvidersDb]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 10/12/2025 4:36:14 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Catalogs]    Script Date: 10/12/2025 4:36:14 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Catalogs](
	[Id] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[HourlyRate] [decimal](18, 2) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
 CONSTRAINT [PK_Catalogs] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProviderCatalogs]    Script Date: 10/12/2025 4:36:14 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProviderCatalogs](
	[ProviderId] [uniqueidentifier] NOT NULL,
	[CatalogId] [uniqueidentifier] NOT NULL,
	[Id] [uniqueidentifier] NOT NULL,
	[Countries] [nvarchar](max) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_ProviderCatalogs] PRIMARY KEY CLUSTERED 
(
	[ProviderId] ASC,
	[CatalogId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Providers]    Script Date: 10/12/2025 4:36:14 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Providers](
	[Id] [uniqueidentifier] NOT NULL,
	[Nit] [nvarchar](max) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Email] [nvarchar](max) NOT NULL,
	[CustomFields] [nvarchar](max) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
 CONSTRAINT [PK_Providers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20251208171146_MigracionInicial', N'8.0.22')
GO
INSERT [dbo].[Catalogs] ([Id], [Name], [HourlyRate], [CreatedAt], [UpdatedAt]) VALUES (N'af1fc01e-8428-40d5-b876-0207276bfe5b', N'Diseño UX/UI Avanzado', CAST(75.50 AS Decimal(18, 2)), CAST(N'2023-06-22T13:30:00.0000000' AS DateTime2), CAST(N'2023-07-15T09:30:00.0000000' AS DateTime2))
INSERT [dbo].[Catalogs] ([Id], [Name], [HourlyRate], [CreatedAt], [UpdatedAt]) VALUES (N'a0338d49-4e0d-4a26-a137-0701ec707eb8', N'Mantenimiento de Servidores', CAST(85.00 AS Decimal(18, 2)), CAST(N'2023-05-18T08:00:00.0000000' AS DateTime2), NULL)
INSERT [dbo].[Catalogs] ([Id], [Name], [HourlyRate], [CreatedAt], [UpdatedAt]) VALUES (N'71ccb426-f541-4df4-ad37-1149fc5c91db', N'Desarrollo Frontend React', CAST(60.00 AS Decimal(18, 2)), CAST(N'2023-02-10T09:15:00.0000000' AS DateTime2), CAST(N'2023-03-01T10:00:00.0000000' AS DateTime2))
GO
INSERT [dbo].[ProviderCatalogs] ([ProviderId], [CatalogId], [Id], [Countries], [CreatedAt]) VALUES (N'3532107a-0ad5-4a3e-8daa-351068af7b9c', N'ba43cee7-4ad0-41df-bbdd-9dbd847050c9', N'64e9570b-51cb-4bf0-86da-0c0ffb5c53d8', N'["Mexico", "USA", "Canada"]', CAST(N'2024-12-23T16:16:12.5200000' AS DateTime2))
INSERT [dbo].[ProviderCatalogs] ([ProviderId], [CatalogId], [Id], [Countries], [CreatedAt]) VALUES (N'b863f82f-7cad-4eb2-bf9e-70e8c66920f4', N'55ce1480-7703-40eb-a468-ba02c2f2d0f5', N'eaa20099-a655-4b6f-ad8c-0a4f5fd5d825', N'["Mexico", "USA", "Canada"]', CAST(N'2025-01-01T16:16:12.5200000' AS DateTime2))
INSERT [dbo].[ProviderCatalogs] ([ProviderId], [CatalogId], [Id], [Countries], [CreatedAt]) VALUES (N'1f108993-9857-49a1-a31b-755c964e2583', N'a0338d49-4e0d-4a26-a137-0701ec707eb8', N'eb6fd854-d0ff-4c0f-bc9c-14f2d0742d36', N'["Mexico", "USA", "Canada"]', CAST(N'2025-07-04T16:16:12.5200000' AS DateTime2))
GO
INSERT [dbo].[Providers] ([Id], [Nit], [Name], [Email], [CustomFields], [CreatedAt], [UpdatedAt]) VALUES (N'3532107a-0ad5-4a3e-8daa-351068af7b9c', N'899000111-9', N'Marketing Digital 360', N'hola@marketing360.como', NULL, CAST(N'2023-09-01T08:30:00.0000000' AS DateTime2), NULL)
INSERT [dbo].[Providers] ([Id], [Nit], [Name], [Email], [CustomFields], [CreatedAt], [UpdatedAt]) VALUES (N'2418ea02-aeaf-443e-8eab-5cc0510042e9', N'890987654-2', N'Limpieza y Mantenimiento El Brillante', N'gerencia@elbrillante.co', N'{"Zona": "Norte", "Turnos": "Diurno"}', CAST(N'2023-02-15T09:30:00.0000000' AS DateTime2), CAST(N'2023-03-20T10:00:00.0000000' AS DateTime2))
INSERT [dbo].[Providers] ([Id], [Nit], [Name], [Email], [CustomFields], [CreatedAt], [UpdatedAt]) VALUES (N'2e9c1878-3aa5-4487-8286-5dd0c631f3ff', N'860777888-7', N'Logística y Transportes Rápidos', N'info@logisticarapida.net', N'{"Flota": 20, "Rastreo": "Satelital"}', CAST(N'2023-07-30T10:10:00.0000000' AS DateTime2), CAST(N'2023-08-15T09:00:00.0000000' AS DateTime2))
GO
ALTER TABLE [dbo].[ProviderCatalogs]  WITH CHECK ADD  CONSTRAINT [FK_ProviderCatalogs_Catalogs_CatalogId] FOREIGN KEY([CatalogId])
REFERENCES [dbo].[Catalogs] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ProviderCatalogs] CHECK CONSTRAINT [FK_ProviderCatalogs_Catalogs_CatalogId]
GO
ALTER TABLE [dbo].[ProviderCatalogs]  WITH CHECK ADD  CONSTRAINT [FK_ProviderCatalogs_Providers_ProviderId] FOREIGN KEY([ProviderId])
REFERENCES [dbo].[Providers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ProviderCatalogs] CHECK CONSTRAINT [FK_ProviderCatalogs_Providers_ProviderId]
GO
/****** Object:  StoredProcedure [dbo].[sp_GetCatalogsPerCountry]    Script Date: 10/12/2025 4:36:14 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Hugo Sánchez
-- Create date: 2025-12-10
-- Description:	Reporte de cantidad de servicios por pais.
-- =============================================
cREATE PROCEDURE [dbo].[sp_GetCatalogsPerCountry]
AS
BEGIN
	SET NOCOUNT ON;
	SELECT		J.[value]			AS Country,
				COUNT(PC.CatalogId) AS CatalogQuantity
	FROM		ProviderCatalogs PC
	CROSS APPLY OPENJSON(PC.Countries) AS J
	GROUP BY	J.[value]
	ORDER BY	CatalogQuantity DESC;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetProviderCatalogsRanking]    Script Date: 10/12/2025 4:36:14 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Hugo Sánchez
-- Create date: 2025-12-10
-- Description:	Reporte de proveedores con catálogo de servicios más amplio.
-- =============================================
CREATE PROCEDURE [dbo].[sp_GetProviderCatalogsRanking]
AS
BEGIN
	SET NOCOUNT ON;
	SELECT		TOP 3
				ROW_NUMBER() 
				OVER(
					ORDER BY 
						COUNT(PC.CatalogId)
					DESC
				)						AS Position
				,P.Name					AS ProviderName
				,COUNT(PC.CatalogId)	AS CatalogQuantity
	FROM		ProviderCatalogs PC
	INNER JOIN	Providers P
	ON			PC.ProviderId = P.Id
	GROUP BY	P.Name
	ORDER BY	CatalogQuantity DESC
END
GO
